<a href="https://colab.research.google.com/github/YasminForestti/Processo-seletivo-Analytica-2022/blob/main/Notifica%C3%A7%C3%A3o_de_homic%C3%ADdio_de_pessoas_Trans_no_mundo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1)** Importação das bibliotecas e definições de escalas de cores:

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import operator
import seaborn as sns

In [3]:
colors=["#f94144","#f3722c","#f8961e","#f9c74f","#90be6d","#43aa8b","#577590"]
colors2= ["#577590","#43aa8b","#90be6d","#f9c74f","#f8961e","#f3722c","#f94144"]

In [14]:
Pais = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/pais.csv")

In [5]:
direitos = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/omophobia.csv",encoding='ISO-8859-1',sep=';')

In [6]:
direitos.head()

,COUNTRY,CSSSA LEGAL?,DATE OF DECRIM,MAX PENALTY,CONST.,BROAD PROT.,EMPLOY.,HATE CRIME,INCITEMENT,BAN CONV. THERAPIES,SAME SEX MARRIAGE,CIVIL UNIONS,JOINT ADOPTION,SECOND PARENT ADOPTION
0,Algeria,NO,-,2,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
1,Angola,YES,2021,-,NO,YES,YES,YES,YES,NO,NO,NO,NO,NO
2,Benin,YES,NEVER CRIM,-,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
3,Botswana,YES,2019,-,NO,NO,YES,NO,NO,NO,NO,NO,NO,NO
4,Burkina Faso,YES,NEVER CRIM,-,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO

In [7]:
Pais.head(20)

     ano   pais_ingles  homicidios
0   2008   All regions       148.0
1   2009   All regions       224.0
2   2010   All regions       233.0
3   2011   All regions       271.0
4   2012   All regions       312.0
5   2013   All regions       271.0
6   2014   All regions       294.0
7   2015   All regions       276.0
8   2016   All regions       324.0
9   2017   All regions       358.0
10  2018   All regions       271.0
11  2008  South Africa         1.0
12  2009  South Africa         0.0
13  2010  South Africa         0.0
14  2011  South Africa         0.0
15  2012  South Africa         4.0
16  2013  South Africa         0.0
17  2014  South Africa         0.0
18  2015  South Africa         1.0
19  2016  South Africa         0.0

## **2)**Subnotificação de homicídio trans em relação a organização mundiais?

Agora, como eu quis ver a relação de homicídios de cada país, foi retirado All regions do Dataframe

In [15]:
filtro = Pais['pais_ingles'] != 'All regions'
Pais_homicidio_Trans = Pais[filtro]

In [16]:
Pais_homicidio_Trans

      ano       pais_ingles  homicidios
11   2008      South Africa         1.0
12   2009      South Africa         0.0
13   2010      South Africa         0.0
14   2011      South Africa         0.0
15   2012      South Africa         4.0
..    ...               ...         ...
776  2014  Papua New Guinea         0.0
777  2015  Papua New Guinea         1.0
778  2016  Papua New Guinea         0.0
779  2017  Papua New Guinea         0.0
780  2018  Papua New Guinea         0.0

[770 rows x 3 columns]

soma de homicídios em um país de 2008 a 2018.

In [17]:
pais_homicidio_total = Pais.groupby(by = 'pais_ingles').sum().reset_index()
pais_homicidio_total= pais_homicidio_total.drop(columns = ['ano'])

In [18]:
pais_homicidio_total

    pais_ingles  homicidios
0   Afghanistan         1.0
1       Albania         1.0
2       Algeria         1.0
3   All regions      2982.0
4     Argentina        65.0
..          ...         ...
66       Turkey        51.0
67           UK        10.0
68          USA       212.0
69       Uganda         2.0
70    Venezuela       122.0

[71 rows x 2 columns]

Aqui fiz uma tabela dos países em que é ilegal ser lgbt e os que que tiveram a legalização tardia.

In [19]:
filtro = direitos['CSSSA LEGAL?'] == 'NO'
Pais_criminalizado = direitos[filtro]

Tabela de países criminalizados

In [20]:
filtro = direitos['CSSSA LEGAL?'] == 'YES'
Pais_legal = direitos[filtro]

In [21]:
filtro = Pais_legal['DATE OF DECRIM'] != 'NEVER CRIM'
Pais_legal = Pais_legal[filtro]

In [22]:
anos = ['2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022']
filtro = Pais_legal['DATE OF DECRIM'].isin(anos)
Pais_legal = Pais_legal[filtro]

Aqui foi gerado a tabela onde a descriminalização foi recente

In [23]:
Pais_legal_cortado = Pais_legal.drop(columns = ['CSSSA LEGAL?','MAX PENALTY','CONST.','BROAD PROT.','EMPLOY.','HATE CRIME','INCITEMENT','BAN CONV. THERAPIES','SAME SEX MARRIAGE','CIVIL UNIONS','JOINT ADOPTION','SECOND PARENT ADOPTION'])

In [24]:
Pais_legal_cortado = Pais_legal_cortado.rename({'COUNTRY': 'pais_ingles'}, axis = 1)

retirada das colunas não utilizadas e troca de nome d ecoluna

In [29]:
np.percentile(pais_homicidio_total['homicidios'],50)

4.0

Utilizei a mediana como Euristica para analisar se o número de homicídios era grande ou pequeno

In [30]:
filtro = pais_homicidio_total['homicidios'] <= np.percentile(pais_homicidio_total['homicidios'],50)
Pais_percentil50 = pais_homicidio_total[filtro]

Foi gerado uma lista de todos os países que tinham dados

Foi checado os países com número baixo de homicídios e que é ilegal ser LGBT

In [31]:
Pais_percentil50.loc[Pais_percentil50['pais_ingles'].isin(Pais_criminalizado['COUNTRY'])].reset_index(drop=True)

         pais_ingles  homicidios
0        Afghanistan         1.0
1            Algeria         1.0
2             Guyana         4.0
3               Iran         1.0
4            Jamaica         2.0
5            Liberia         1.0
6          Mauritius         1.0
7   Papua New Guinea         1.0
8       Saudi Arabia         2.0
9          Singapore         1.0
10          Tanzania         2.0
11            Uganda         2.0

In [32]:
paise_percentil50_legal=Pais_percentil50.loc[Pais_percentil50['pais_ingles'].isin(Pais_legal['COUNTRY'])].reset_index(drop=True)

Foi checado os países com número baixo de homicídios e que a legalização foi tardia

In [33]:
paise_percentil50_legal

  pais_ingles  homicidios
0  Azerbaijan         4.0
1      Belize         2.0
2        Fiji         2.0
3     Georgia         2.0
4       Nepal         2.0
5      Panama         4.0